<%- include("./partials/header.ejs"); -%>
<!-- Hello -->
<!-- <button id="hello">Let's go</button> -->
<!-- <script src="js/test.js"></script> -->
<header>
    <h1>Logo</h1>
    <ul>
        <li><a href="">Contactos</a></li>
        <li><a href="">Compañías</a></li>
        <li><a href="">Usuarios</a></li>
        <li><a href="">Región/Ciudad</a></li>
    </ul>
</header>
<h2>You're welcome</h2>
<%- include("./partials/footer.ejs"); -%>

