<%- include("./partials/header.ejs"); -%>
<!-- Hello -->
<!-- <button id="hello">Let's go</button> -->
<!-- <script src="js/test.js"></script> -->
<h1>You're welcome</h1>
<form action="/logout?_method=DELETE" method="POST">
</form>
<%- include("./partials/footer.ejs"); -%>

