header {
    background-color: #1562BA;
    color: #fff;
    display: flex;
    height: 10vh;
    justify-content: space-between;
    align-items: center;
    h1 {
        padding: 1%;
    }
    ul {
        display: flex;
        flex-direction: row;
        list-style: none;
        li {
            padding-right: 50px;
            a {
                color: #fff;
                text-decoration: none;
            }
        }
    }
}