$color: rgba(rgba(26, 101, 126, 0), 0.9);
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    color: $color;
  }

// @font-face {
//   font-family: 'Open Sans';
//   src: url('../src/fonts/open-sans-v29-latin-regular.woff2') format('woff2'), url('../src/fonts/open-sans-v29-latin-regular.woff') format('woff');
//   font-weight: 400;
//   font-style: normal;
// }

  